<mat-toolbar>
  <mat-toolbar-row>
    <span class="navTitle">Taku Nakagawa</span>
    <span class="menu-fill-remaining-space"></span>
    <button class="menu-content" mat-button [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item *ngFor="let link of links" routerLink="/{{link.urlPath}}">{{ link.name }}</button>
    </mat-menu>
  </mat-toolbar-row>
  
  <mat-toolbar-row>
    <span *ngFor="let link of links" class="navTitle">{{ link.name }}</span>
  </mat-toolbar-row>
</mat-toolbar>


<router-outlet></router-outlet>
<app-footer></app-footer>