.wrapper
    box-sizing: border-box;
    padding-bottom: 200px;
    padding-left: 185px;
    padding-top: 225px;
    position: relative;


div.text-container
    max-width: 600px;
    padding-right: 50px;