<div class="wrapper">

  <div class="text-container">
    <div id="forCareer">
      Career Profile
    </div>
    <div id="copy">
      <p>
        主にフレームワーク Angular を使用しての開発をしております。このサイトもAngularを使用しての開発です。
        これまでは ionic というクロスプラットフォーム開発フレームワークを使用して 開発も行ってきました。
        ionic でも Angularを使用しての開発です。
        このようにAngularを使用しての開発が大半ですが、最近では小さい案件では AWS を使用して、サーバーサイドの実装もおこなっております。
        その他に現職では Node.jsを使用して、ボットの開発やAlexaなどの音声系の開発もおこなっております。
        
        幅広く、色々な技術を学んで、一人でサービスをリリース出来ることも必要だと思っており、私にとって楽しいことです。
        今後は、AWSなどを使用してサーバーサイドの開発とフロントの開発もおこなっていき、一人で小さいものだったら、開発できるようになって行きたいとおも思ってはおりますが、
        同時にAngularを使用して、開発に詳しくなっていきたいです。平たくいえば、もう少しフロントの力を伸ばしていきたいです。
        
        今後のこのサイトではPythonのDjangoで管理画面も用意して、Blogとかも上げていけたらいいなぁって思っております。
      </p>
    </div>
      <div class="bg-image">
        <img class="desktop" alt title src="../../assets/img/nakagawa.jpg">
      </div>
  </div>

</div>