.wrapper
    box-sizing: border-box;
    padding-bottom: 200px
    padding-left: 185px
    padding-top: 160px
    position: relative

.text-container
    max-width: 600px
    padding-right: 50px

#forCareer
    background-repeat: no-repeat
    background-position: 0 0
    color: #3f51b3
    font-size: 25px
    text-shadow: none
    background-size: 260px 49px
    height: 49px
    margin-bottom: 21px
    position: relative
    width: auto

#copy
    font-family: Arial, Helvetica, sans-serif
    font-size: 18px

.bg-image
    bottom: 0
    position: absolute
    overflow: hidden
    right: 0
    text-align: right
    top: 80px
    width: 1000px
    z-index: 0

div.bg-image
    padding-top: 100px;
    padding-right: 150px;

img.desktop
    width: 450px
    height: 450px

