<div class="wrapper">
  <div>
    <div class="pageTitle">
      <h2 class="pageCSSTitle">Works</h2>
      <p class="pageCSSTitle">作成したもの</p>
    </div>
    <div class="row flex-container">
      <mat-grid-list
        routerLink="https://stackoverflow.com/questions/36569935/how-to-use-line-break-in-gridlistdynamic-tiles-in-angularjs"
        cols="2" rowHeight="2:1">
        <mat-grid-tile class="left-tile">
          <mat-card-content>
            <h1 class="cardTitle">ポートフォリオサイト</h1>
            <h3 class="cardh3">言語：TypeScript</h3>
            <h3 class="cardh3">フレームワーク：Angular v7,Angular Material </h3>
          </mat-card-content>
        </mat-grid-tile>
        <mat-grid-tile class="right-tile">
          <mat-card-content>
            <div class="imgBox">
              <img src="../../assets/img/Portforio.png">
            </div>
          </mat-card-content>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div>
    </div>
  </div>
</div>